body,
html,
main {
    margin: 0;
}

html {
    font-family: "gamefont", Arial, sans-serif;
    font-size: 20px;
}

.bg {
    position: relative;
    background-image: url("./images/spacebg1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    font-size: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin: 200px 0px auto 550px
}

#highscores ul {
    color: rgb(81, 74, 124);
    font-size: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    list-style-type: none;
    font-weight: bolder;
    margin: 100px auto auto -190px
}



.startBtn {
    background-color: rgb(34, 185, 34);
    margin: 730px auto auto 900px;
    padding: 20px 35px;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 5px 10px #eb97d8;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-family: "gamefont", Arial, sans-serif;
}